.image-container {
    background-image: url('img/imgPp.jpg');
    background-size: cover;
    background-position: center right;
    border-radius: 1rem 0 0 1rem; /* Para que la imagen tenga el mismo borde redondeado */
    width: 100%;
    height: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 0%;
}

.vh-100 {
    height: 100vh;
}
.text-a {
    color: #096d8c;
}
